openapi: 3.0.0
servers:
  - description: TimeForCoin
    url: https://love.zhenly.cn/api/
info:
  description: |
    TimeForCoin API document<br/>
  version: '1.0.0'
  title: TimeForCoin API
  contact:
    email: a@zhenly.cn
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: Session
    description: 登陆相关
  - name: Users
    description: 用户操作
  - name: Tasks
    description: 任务
  - name: Comments
    description: 评论
  - name: Questionnaires
    description: 问卷
  - name: Messages
    description: 消息
  - name: File
    description: 文件系统
  - name: Certification
    description: 认证相关
  - name: Article
    description: 公告文章
  - name: Utils
    description: 其他

paths:
  /session:
    get:
      tags: [Session]
      summary: 获取 Violet 登陆授权 URL
      operationId: getLoginURL
      description: |
        用于Web端获取跳转到 Violet 登陆的 URL，该 URL 由后端实时生成，绑定当前会话，并具有时效性和唯一性
      responses:
        '200':
          description: 获取成功，返回登陆 URL，前端应打开新窗口加载此 URL
          content:
            application/json:
              schema:
                type: object
                required:
                  - url
                properties:
                  url:
                    type: string
                    example: https://oauth.xmatrix.studio/verify/authorize?response_type=code&client_id=xxxxx&state=xxxxx&scope=basic&redicect_url=https%3a%2f%2fxx.xmatrix.studio%2fapi%2fv2%2fauth&quick_mode=true
    delete:
      tags: [Session]
      summary: 退出登陆
      description: 删除用户登陆状态(包括微信登陆)
      responses:
        '200':
          description: 退出登陆成功
  /session/status:
    get:
      tags: [Session]
      summary: 获取登陆状态
      description: |
        用于实时获取用户登陆状态
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: |
                      none      - 未登录<br/>
                      false     - 登陆失败<br/>
                      running   - 登陆中<br/>
                      violet    - 已通过Violet登录<br/>
                      wechat    - 已通过微信登录<br/>
                      wechat_new  - 已通过微信登录，并且是新用户<br/>
                    example: none
  /session/violet:
    get:
      tags: [Session]
      summary: 使用 Code 登陆
      operationId: postLoginCode
      description: |
        使用 Violet 返回的数据进行 OAuth2 授权登陆
      parameters:
        - name: code
          in: query
          required: true
          description: |
            授权码，对于用户和客户端具有唯一性和时效性
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
        - name: state
          in: query
          required: true
          description: |
            状态码，用于防止CSRF攻击
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 登陆成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 登陆失败
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    description: |
                      exist_wechat  - 当前账号已绑定微信<br/>
                    example: exist_wechat
  /session/wechat:
    get:
      tags: [Session]
      summary: 生成登陆二维码
      description: |
        生成特定的二维码，通过扫码可以实现在PC端登陆（等小程序发布之后替换成小程序码，可以在微信界面直接扫码登陆而不需要进入小程序）
      responses:
        '200':
          description: 获取成功
          content:
            image/png:
              schema:
                type: string
                description: 图片二进制数据
    put:
      tags: [Session]
      summary: 微信扫码登陆
      description: |
        通过小程序扫码登陆PC端页面 <br/>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session
              properties:
                session:
                  description: |
                    会话ID，通过扫码二维码解析内容得到
                  type: string
                  example: 5c9ecbbba4a3f52e3195fa68
      responses:
        '200':
          description: 登陆成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  new:
                    type: boolean
                    description: |
                      是否为新用户，新用户首次登陆建议设置用户信息
                    example: true
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 登陆失败
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    description: |
                      error_code     - code不正确<br/>
                    example: error_code
    
    post:
      tags: [Session]
      summary: 使用微信登陆
      operationId: postWeChatLogin
      description: |
        使用微信授权后得到的Code进行登陆 <br/>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  description: |
                    授权码，对于用户和客户端具有唯一性和时效性
                  type: string
                token:
                  description: |
                    绑定令牌，绑定指定的Violet账户，可以为空。<br/>
                    为空时登陆后需要手动绑定Violet
      responses:
        '200':
          description: 登陆成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  new:
                    type: boolean
                    description: |
                      是否为新用户，新用户首次登陆建议设置用户信息
                    example: true
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 登陆失败
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    description: |
                      error_code     - code不正确<br/>
                    example: error_code

  /users/info/{user_id}:
    get:
      tags: [Users]
      summary: 获取用户信息
      description: |
        获取用户信息
      parameters:
        - name: user_id
          in: path
          required: true
          description: |
            用户ID，当用户ID为`me`的时候为当前登陆用户ID
          schema:
            type: string
            example: 'me'
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 用户id
                    example: '5c9ecbbba4a3f52e3195fa68'
                  violet_name:
                    type: string
                    description: Violet用户名
                    example: 'XMatrixStudio'
                  wechat_name:
                    type: string
                    description: 绑定微信的用户名
                    example: ''
                  register_time:
                    type: integer
                    description: 用户注册的时间
                    example: 124512234
                  info:
                    $ref: '#/components/schemas/UserInfo'
                  data:
                    $ref: '#/components/schemas/UserData'
                  certification:
                    $ref: '#/components/schemas/UserCertification'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
        '403':
          description: 获取用户失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_users   - 用户不存在<br/>
                    example: 'faked_users'
  /users/task/{user_id}:
    get:
      tags: [Users]
      summary: 获取用户参与的任务列表
      description: |
        获取用户参与的任务列表
      parameters:
        - name: user_id
          in: path
          required: true
          description: |
            用户ID，当用户ID为`me`的时候为当前登陆用户ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
        - name: status
          in: query
          required: false
          description: |
            筛选参与人员状态<br/>
            all       - 所有<br/>
            wait      - 等待同意加入 <br/>
            refuse    - 拒绝加入 <br/>
            close     - 发布者关闭任务<br/>
            running   - 用户进行任务中<br/>
            finish    - 已完成任务<br/>
            give_up   - 用户已放弃<br/>
            failure   - 任务失败<br/>
          schema:
            type: string
            example: running
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayersWithDetail'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_user        - 用户不存在<br/>
                    example: 'invalid_page'
  /users/collect/{user_id}:
    get:
      tags: [Users]
      summary: 获取用户收藏列表
      description: |
        分页获取用户收藏任务列表
      parameters:
        - name: user_id
          in: path
          required: true
          description: |
            用户ID，当用户ID为`me`的时候为当前登陆用户ID
          schema:
            type: string
            example: 'me'
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
        - name: sort
          in: query
          required: false
          description: |
            列表顺序， 默认按时间顺序<br/>
            hot - 热门<br/>
            new - 最新<br/>
          schema:
            type: string
            example: 'hot'
        - name: type
          in: query
          required: false
          description: |
            筛选任务类型，多个以逗号分隔<br/>
            all           - 所有<br/>
            run           - 跑腿任务<br/>
            questionnaire - 问卷任务<br/>
            info          - 信息任务<br/>
          schema:
            type: string
            example: 'run,info'
        - name: status
          in: query
          required: false
          description: |
            筛选任务状态，多个以逗号分隔<br/>
            all      - 所有<br/>
            draft    - 草稿(仅本人可以查询)<br/>
            wait     - 等待接受/执行中<br/>
            close    - 已关闭<br/>
            finish   - 已完成<br/>
          schema:
            type: string
            example: 'wait,close'
        - name: reward
          in: query
          required: false
          description: |
            筛选酬劳类型，多个以逗号分隔<br/>
            all       - 所有<br/>
            money     - 闲钱币<br/>
            rmb       - 人民币<br/>
            object  - 实物<br/>
          schema:
            type: string
            example: 'money'
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BaseTaskInfoWithout'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /users/info:
    put:
      tags: [Users]
      summary: 修改用户个人信息
      description: |
        修改个人信息<br/>
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/EditUserInfo'
      responses:
        '200':
          description: 修改成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /users/type/{user_id}:
    put:
      tags: [Users]
      summary: 修改用户类型
      description: |
        仅[admin, root]用户可用，用于调整用户等级，调整范围仅限于[ban, normal, admin], 除此以外的等级的用户不能被调整(wechat, root)
      parameters:
        - name: user_id
          in: path
          required: true
          description: |
            用户ID，当用户ID为`me`的时候为当前登陆用户ID
          schema:
            type: string
            example: 'me'
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: |
                    用户类型<br/>
                    ban     - 禁封用户<br/>
                    normal  - 正式用户<br/>
                    admin   - 管理员<br/>
                  example: 'admin'
      responses:
        '200':
          description: 修改成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
        '403':
          description: 修改失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_users     - 用户不存在<br/>
                      not_allow_type  - 不允许调整的类型<br/>
                      permission_deny - 权限不足<br/>
                    example: 'faked_users'
  /users/attend:
    post:
      tags: [Users]
      summary: 每日签到
      description: |
        签到获取积分
      responses:
        '200':
          description: 签到成功
        '401':
          $ref: '#/components/responses/401NotLoginError'
        '403':
          description: 签到失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      already_attend  - 今日已经签到
                    example: 'already_attend'
  /users/history:
    get:
      tags: [Users]
      summary: 获取用户搜索记录
      description: |
        获取当前用户的搜索记录
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: 搜索记录
                    items:
                      type: string
                      example: '吃东西'
        '401':
          $ref: '#/components/responses/401NotLoginError'
    delete:
      tags: [Users]
      summary: 清空用户搜索记录
      description: |
        清空当前用户搜索记录
      responses:
        '200':
          description: 清空成功
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /users:
    get:
      tags: [Users]
      summary: 搜索用户
      description: |
        使用关键字搜索用户
      parameters:
        - name: key
          in: query
          required: true
          description: 搜索关键字
          schema:
            type: string
            example: '秀秀'
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: 搜索成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        data:
                          $ref: '#/components/schemas/UserData'
                        info:
                          $ref: '#/components/schemas/UserInfo'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /users/pay:
    post:
      tags: [Users]
      summary: 用户充值
      description: |
        用户充值接口，当前未接入充值服务，随机提高用户金钱，最高为💰20
      responses:
        '200':
          description: 获取成功
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /users/follower/{user_id}:
    get:
      tags: [Users]
      summary: 获取用户粉丝列表
      description: |
        获取指定用户得粉丝列表
      parameters:
        - name: user_id
          in: path
          required: true
          description: |
            用户ID，当用户ID为`me`的时候为当前登陆用户ID
          schema:
            type: string
            example: 'me'
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserBaseInfo'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /users/following/{user_id}:
    get:
      tags: [Users]
      summary: 获取用户关注人列表
      description: |
        获取指定用户关注人列表
      parameters:
        - name: user_id
          in: path
          required: true
          description: |
            用户ID，当用户ID为`me`的时候为当前登陆用户ID
          schema:
            type: string
            example: 'me'
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserBaseInfo'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
    post:
      tags: [Users]
      summary: 关注指定用户
      description: |
        为当前用户关注指定用户
      parameters:
        - name: user_id
          in: path
          required: true
          description: |
            关注的用户ID
          schema:
            type: string
            example: 'me'
      responses:
        '200':
          description: 关注成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 关注失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_user      - 用户不存在<br/>
                      exist_relation      - 用户已关注<br/>
                    example: 'exist_relation'
        '401':
          $ref: '#/components/responses/401NotLoginError'
    delete:
      tags: [Users]
      summary: 取消关注用户
      description: |
        取消关注指定用户
      parameters:
        - name: user_id
          in: path
          required: true
          description: 用户ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 取消关注成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 取消关注失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_relation    - 你根本就没有关注，还想取消？<br/>
                    example: 'faked_relation'
        '401':
          $ref: '#/components/responses/401NotLoginError'

  /certification:
    get:
      tags: [Certification]
      summary: 获取待审核认证列表
      description: |
        获取待审核认证列表，仅限管理员调用
      parameters:
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
        - name: type
          in: query
          required: false
          description: |
            筛选认证类型 <br/>
            all   - 所有<br/>
            email    - 邮箱认证<br/>
            material - 材料认证<br/>
          schema:
            type: string
            example: 'email'
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 用户ID
                          example: 5c9ecbbba4a3f52e3195fa68
                        info:
                          $ref: '#/components/schemas/UserInfo'
                        certification:
                          $ref: '#/components/schemas/CertificationData'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
        '403':
          $ref: '#/components/responses/403PermissionDenyError'
    post:
      tags: [Certification]
      summary: 用户认证
      description: |
        用户认证服务，实名认证学生身份，上传学生证或校园卡等资料辅助审核或者邮箱认证（当前只支持邮箱认证）
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                identity:
                  type: string
                  description: 认证身份类型，目前仅支持`student`学生
                  example: 'student'
                data:
                  type: string
                  description: 认证内容
                  example: '中山大学本科生'
                type:
                  type: string
                  description: |
                    认证方式<br/>
                    email     - 教育邮箱认证<br/>
                    material  - 提交材料人工审核<br/>
                  example: 'email'
                attachment:
                  type: array
                  items:
                    type: string
                    description: 认证材料附件ID
                    example: '5c9ecbbba4a3f52e3195fa68'
                email:
                  type: string
                  description: |
                    认证教育邮箱
                  example: 'megachen12@mail2.sysu.edu.cn'
      responses:
        '200':
          description: 申请认证成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 发布任务失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      exist_certification - 当前已存在认证<br/>
                      limit_email         - 发送邮件太频繁<br/>
                      exist_email         - 该邮箱已被认证<br/>
                    example: 'invalid_data'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /certification/email:
    post:
      tags: [Certification]
      summary: 再次发送认证邮件
      description: |
        重新发送邮件到当前待认证的邮箱，点击邮箱内连接进行认证
      responses:
        '200':
          description: 发送成功
        '403':
          description: 发送失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_email         - 当前不存在待验证的邮箱<br/>
                      faked_certification - 当前认证不存在<br/>
                      exist_email         - 该邮箱已被认证<br/>
                      limit_email         - 发送邮件过于频繁<br/>
                    example: 'exist_email'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /certification/user/{user_id}:
    put:
      tags: [Certification]
      summary: 更新认证
      description: |
        用户可以取消自己的认证，管理员可以通过用户的认证
      parameters:
        - name: user_id
          in: path
          required: true
          description: |
            用户ID，当用户ID为`me`的时候为当前登陆用户ID
          schema:
            type: string
            example: 'me'
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                operate:
                  type: string
                  description: |
                    操作<br/>
                    true   - 认证通过[仅管理员]<br/>
                    false  - 认证失败[仅管理员]<br/>
                    cancel - 取消认证[仅用户]
                  example: 'false'
                data:
                  type: string
                  description: 认证内容[仅管理员]
                  example: '大山中学'
                feedback:
                  type: string
                  description: 失败反馈[仅管理员]
                  example: '你好骚啊'
      responses:
        '200':
          description: 修改成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
        '403':
          $ref: '#/components/responses/403PermissionDenyError'
  /certification/auto:
    get:
      tags: [Certification]
      summary: 获取自动认证的列表
      description: |
        获取自动认证的邮箱后缀列表，仅限管理员调用
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    description: 自动认证邮箱后缀
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          description: 邮箱后缀
                          example: 'sysu.edu.cn'
                        value:
                          type: string
                          description: 认证内容
                          example: '中山大学'
        '401':
          $ref: '#/components/responses/401NotLoginError'
        '403':
          $ref: '#/components/responses/403PermissionDenyError'
    post:
      tags: [Certification]
      summary: 添加/修改自动认证后缀
      description: |
        添加/修改自动认证邮箱后缀，自动通过该邮箱的认证
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: 邮箱后缀
                  example: 'sysu.edu.cn'
                value:
                  type: string
                  description: 认证内容
                  example: '中山大学本科生'
      responses:
        '200':
          description: 添加成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 添加失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny - 权限不足<br/>
                      exist_email  - 已存在后缀<br/>
                    example: 'exist_email'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /certification/auto/{key}:
    delete:
      tags: [Certification]
      summary: 删除自动认证
      description: |
        删除自动认证
      parameters:
        - name: key
          in: path
          required: true
          description: |
            自动认证后缀，须URL编码
          schema:
            type: string
            example: 'sysu.edu.cn'
      responses:
        '200':
          description: 删除成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 删除失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_email  - 不存在该后缀<br/>
                      permission_deny - 权限不足<br/>
                    example: 'exist_email'
        '401':
          $ref: '#/components/responses/401NotLoginError'

  /tasks:
    get:
      tags: [Tasks]
      summary: 获取任务列表
      description: |
        分页获取任务列表
      parameters:
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量[仅当sort!=user时生效]
          schema:
            type: number
            example: 10
        - name: sort
          in: query
          required: false
          description: |
            列表顺序， 默认按时间顺序[new]<br/>
            <del>user  - 用户个性化信息流[此状态下不能筛选]</del><br/>
            hot   - 热门<br/>
            new   - 最新<br/>
          schema:
            type: string
            example: 'hot'
        - name: type
          in: query
          required: false
          description: |
            筛选任务类型，多个以逗号分隔<br/>
            all           - 所有<br/>
            run           - 跑腿任务<br/>
            questionnaire - 问卷任务<br/>
            info          - 信息任务<br/>
          schema:
            type: string
            example: 'run,info'
        - name: status
          in: query
          required: false
          description: |
            筛选任务状态，多个以逗号分隔<br/>
            默认搜索状态为[wait]<br/>
            all      - 所有<br/>
            draft    - 草稿[仅本人可以查询，并且不能与其他状态一起查询]<br/>
            wait     - 等待接受/执行中<br/>
            close    - 已关闭<br/>
            finish   - 已完成<br/>
          schema:
            type: string
            example: 'wait,close'
        - name: reward
          in: query
          required: false
          description: |
            筛选酬劳类型，多个以逗号分隔<br/>
            all       - 所有<br/>
            money     - 闲钱币<br/>
            rmb       - 人民币<br/>
            object  - 实物<br/>
          schema:
            type: string
            example: 'money'
        - name: keyword
          in: query
          required: false
          description: |
            关键词搜索，对任务名称和内容进行搜索<br/>
            多个关键词以逗号分隔
          schema:
            type: string
            example: '秀秀'
        - name: user
          in: query
          required: false
          description: |
            获取指定用户发布的任务, 若为 `me` 则显示当前用户发布的任务，需要检验登陆权限
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
        - name: brief
          in: query
          required: false
          description: |
            是否只获取任务简介，默认为false<br/>
            没有关于用户点赞/收藏/状态等信息和附件信息<br/>
            图片信息只提供一张<br/>
          schema:
            type: boolean
            example: false
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  tasks:
                    type: array
                    items:
                      $ref: '#/components/schemas/BaseTaskInfo'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 发布任务失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_user   - 无效的用户
                      not_allow_other_draft - 不允许查询他人的草稿
                    example: 'faked_user'
        '401':
          $ref: '#/components/responses/401NotLoginError'
    post:
      tags: [Tasks]
      summary: 创建任务
      description: 创建新任务
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/NewTaskInfo'
      responses:
        '200':
          description: 发布任务成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: |
                      任务ID
                    example: '5c9ecbbba4a3f52e3195fa68'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 发布任务失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      no_money - 你没有足够的钱发布任务<br/>
                      now_allow_change_reward_type - 发布后不允许改变酬劳类型<br/>
                      no_value - 你没有足够的积分发布任务<br/>
                      faked_file   - 图片/文件不存在<br/>
                      permission_deny   - 不允许添加他人的附件<br/>
                      error_file_type - 文件类型(图片/附件)错误<br/>
                      not_allow_date   - 不允许结束日期小于开始日期<br/>
                      title_too_long    - 任务标题不能超过32个字符<br/>
                      content_too_long  - 任务内容不能超过256个字符<br/>
                      reward_object_too_long  - 任务酬劳不能超过32个字符<br/>
                      location_too_long - 任务地点不能超过64个字符<br/>
                      tag_too_long  - 任务标签不能超过16个字符<br/>
                    example: 'not_allow_date'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /tasks/{task_id}:
    get:
      tags: [Tasks]
      summary: 获取单个任务详情
      description: |
        获取单个任务详情
      parameters:
        - name: task_id
          in: path
          required: true
          description: |
            任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
        - name: brief
          in: query
          required: false
          description: |
            是否只获取任务简介，默认为false<br/>
            没有关于用户点赞/收藏/状态等信息和附件信息<br/>
            图片信息只提供一张<br/>
          schema:
            type: string
            example: 'false'
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TaskInfo'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_task    - 任务不存在<br/>
                    example: 'faked_task'
    put:
      tags: [Tasks]
      summary: 修改任务信息
      description: |
        修改任务的部分信息
        需要任务处于状态[draft, wait]
      parameters:
        - name: task_id
          in: path
          required: true
          description: |
            任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/EditTaskInfo'
      responses:
        '200':
          description: 修改任务成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 修改任务失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny       - 权限不足<br/>
                      not_allow_edit        - 该状态下不允许修改<br/>
                      not_allow_date        - 不允许的时间<br/>
                      not_allow_max_player  - 不允许的参与用户上限<br/>
                      not_allow_status      - 不允许的状态变换<br/>
                      not_allow_reward_value- 不允许降低酬劳数值<br/>
                      title_too_long    - 任务标题不能超过32个字符<br/>
                      content_too_long  - 任务内容不能超过256个字符<br/>
                      reward_object_too_long  - 任务酬劳不能超过32个字符<br/>
                      location_too_long - 任务地点不能超过64个字符<br/>
                      tag_too_long  - 任务标签不能超过16个字符<br/>
                      not_allow_finish - 不允许关闭，参与人员尚未处理完毕<br/>
                    example: 'not_allow_max_player'
        '401':
          $ref: '#/components/responses/401NotLoginError'
    delete:
      tags: [Tasks]
      summary: 删除任务
      description: |
        只允许删除自己的草稿中的任务
      parameters:
        - name: task_id
          in: path
          required: true
          description: |
            任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 删除成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 删除失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      not_allow  - 不允许删除<br/>
                      permission_deny - 权限不足<br/>
                    example: 'permission_deny'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /tasks/{task_id}/wechat:
    get:
      tags: [Tasks]
      summary: 生成活动微信小程序码
      description: |
        生成活动微信小程序码，用于分享，可扫码查看活动详情
      parameters:
        - name: task_id
          in: path
          required: true
          description: |
            任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  url:
                    description: 图片的URL
                    type: string
                    example: "http://xx.com/xx.png"
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_task        - 任务不存在<br/>
                      not_allow_status  - 当前任务状态不能分享[draft]<br/>
                    example: 'faked_task'
  /tasks/{task_id}/player:
    get:
      tags: [Tasks]
      summary: 获取任务参与人员列表
      description: |
        获取指定任务参与人员全部列表
      parameters:
        - name: task_id
          in: path
          required: true
          description: 任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
        - name: status
          in: query
          required: false
          description: |
            筛选参与人员状态<br/>
            all       - 所有<br/>
            wait      - 等待同意加入 <br/>
            refuse    - 拒绝加入 <br/>
            close     - 发布者关闭任务 <br/>
            running   - 用户进行任务中 <br/>
            finish    - 已完成任务 <br/>
            give_up   - 用户已放弃 <br/>
            failure   - 任务失败 <br/>
          schema:
            type: string
            example: running
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Players'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_task        - 任务不存在<br/>
                    example: 'faked_task'
    post:
      tags: [Tasks]
      summary: 成为任务参与人员（领取任务）
      description: |
        成为任务参与人员
      parameters:
        - name: task_id
          in: path
          required: true
          description: 任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                note:
                  type: string
                  description: |
                    申请备注
                  example: '我要参加'
      responses:
        '200':
          description: 参加成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: |
                      accept   - 已领取任务<br/>
                      wait     - 等待审核<br/>
                    example: 'accept'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 参加失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      not_allow_status  - 任务还没发布<br/>
                      faked_task    - 任务不存在<br/>
                      exist_player  - 你已经参加了，不要重复参加了呀</br>
                      max_player  - 参与人数已经到达上限啦</br>
                    example: 'faked_task'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /tasks/{task_id}/player/{user_id}:
    get:
      tags: [Tasks]
      summary: 获取用户对于某任务的状态
      description: |
        获取用户对于某任务的状态
      parameters:
        - name: task_id
          in: path
          required: true
          description: 任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
        - name: user_id
          in: path
          required: true
          description: 用户ID，若为me为当前用户
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Players'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny   - 权限不足<br/>
                      faked_task        - 任务不存在<br/>
                      faked_user        - 用户不存在<br/>
                    example: 'faked_task'
        '401':
          $ref: '#/components/responses/401NotLoginError'

    put:
      tags: [Tasks]
      summary: 修改任务参与者状态
      description: |
        修改任务参与者状态，任务发布者和执行者分别可以修改不同部分，否则返回403错误
      parameters:
        - name: task_id
          in: path
          required: true
          description: 任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
        - name: user_id
          in: path
          required: true
          description: 用户ID，若为me为当前用户
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: |
                    用户状态<br/>
                    give_up   - 用户已放弃 [任务执行者可修改]<br/>
                    refuse    - 拒绝参与任务 [任务发布者可修改]<br/>
                    running   - 同意参与任务 [任务发布者可修改]<br/>
                    finish    - 已完成任务 [任务发布者可修改]<br/>
                    failure   - 任务失败 [任务发布者可修改]<br/>
                  example: 'running'
                note:
                  type: string
                  description: |
                    修改备注(申请备注/拒绝原因/同意原因/失败原因/...)
                  example: '我要加入'
                accept:
                  type: boolean
                  description: |
                    是否同意加入 [任务发布者可修改]
                  example: true
                degree:
                  type: integer
                  description: |
                    任务完成度 [任务发布者可修改]
                  example: 100
                remark:
                  type: string
                  description: |
                    发布者的评语 [任务发布者可修改]
                  example: '很好'
                score:
                  type: integer
                  description: |
                    用户的评价 [任务执行者可修改]
                  example: 100
                feedback:
                  type: string
                  description: |
                    用户的反馈 [任务执行者可修改]
                  example: '我觉得还行'
      responses:
        '200':
          description: 修改成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 修改失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      not_allow_status  - 任务还没发布<br/>
                      permission_deny   - 权限不足<br/>
                      faked_task        - 任务不存在<br/>
                      faked_user        - 用户不存在<br/>
                      not_allow_status  - 该状态下不允许修改<br/>
                    example: 'faked_task'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /tasks/{task_id}/top:
    post:
      tags: [Tasks]
      deprecated: true
      summary: 设置任务置顶
      description: |
        为任务设置置顶时间，管理员可以设置，普通用户可以消耗闲币设置
      parameters:
        - name: task_id
          in: path
          required: true
          description: 任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                time:
                  type: integer
                  description: 置顶秒数
                  example: 10085
      responses:
        '200':
          description: 设置置顶成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 设置置顶失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_task_id        - 任务不存在<br/>
                      not_enough_money     - 没有足够的钱<br/>
                    example: 'faked_task_id'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /tasks/{task_id}/collect:
    post:
      tags: [Tasks]
      summary: 收藏任务
      description: |
        收藏指定任务
      parameters:
        - name: task_id
          in: path
          required: true
          description: 收藏的任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 收藏成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 收藏失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      not_allow_status  - 此状态不允许收藏<br/>
                      faked_task    - 任务不存在<br/>
                      exist_task    - 任务已经收藏，不能重复收藏<br/>
                    example: 'faked_task'
        '401':
          $ref: '#/components/responses/401NotLoginError'
    delete:
      tags: [Tasks]
      summary: 取消收藏任务
      description: |
        取消收藏指定任务
      parameters:
        - name: task_id
          in: path
          required: true
          description: 收藏的任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 取消收藏成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 取消收藏失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      not_allow_status  - 此状态不允许收藏<br/>
                      faked_task    - 任务不存在<br/>
                    example: 'faked_task'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /tasks/{task_id}/like:
    post:
      tags: [Tasks]
      summary: 为任务点赞
      description: |
        为任务点赞
      parameters:
        - name: task_id
          in: path
          required: true
          description: 任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 点赞成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 点赞失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      not_allow_status  - 此状态不允许点赞<br/>
                      exist_like   - 任务已经点赞，不能重复点赞<br/>
                      faked_task   - 任务不存在<br/>
                    example: 'exist_like'
        '401':
          $ref: '#/components/responses/401NotLoginError'
    delete:
      tags: [Tasks]
      summary: 取消点赞任务
      description: |
        取消点赞任务
      parameters:
        - name: task_id
          in: path
          required: true
          description: 任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 取消点赞成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 取消点赞失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      not_allow_status  - 此状态不允许点赞<br/>
                      faked_like   - 你根本没有点赞，取消什么<br/>
                      faked_task   - 任务不存在<br/>
                    example: 'faked_like'
        '401':
          $ref: '#/components/responses/401NotLoginError'

  /file:
    post:
      tags: [File]
      summary: 上传图片/文件
      description: |
        上传用于任务或者个人认证的附件或者图片
      requestBody:
        content:
          'multipart/form-data':
            schema:
              $ref: '#/components/schemas/NewFileInfo'
      responses:
        '200':
          description: 添加附件成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: |
                      上传的附件ID
                    example: '5c9ecbbba4a3f52e3195fa68'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 添加附件失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny       - 权限不足<br/>
                      faked_attachment      - 附件不存在<br/>
                      faked_task_id         - 任务不存在<br/>
                      faked_attachment_id   - 附件不存在<br/>
                      not_allow_status      - 当前任务状态不允许修改<br/>
                    example: 'invalid_task_id'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /file/{id}:
    put:
      tags: [File]
      summary: 修改附件文件信息
      description: |
        修改文件的部分信息
      parameters:
        - name: id
          in: path
          required: true
          description: 文件ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/EditFileInfo'
      responses:
        '200':
          description: 修改文件信息成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
        '403':
          description: 修改失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: |
                      permission_deny - 权限不足<br/>
                      faked_file - 文件不存在<br/>
                    example: 'permission_deny'
    delete:
      tags: [File]
      summary: 删除未使用文件
      description: |
        删除上传后未使用的文件
      parameters:
        - name: id
          in: path
          required: true
          description: 文件ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 删除文件成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 删除文件失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny - 权限不足<br/>
                      faked_file   - 文件不存在<br/>
                    example: 'permission_deny'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /file/useless:
    delete:
      tags: [File]
      summary: 清理当前用户未使用文件
      description: |
        清理当前用户上传后未使用文件
      responses:
        '200':
          description: 删除文件成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  remove_count:
                    type: integer
                    description: 清理的文件数量
                    example: 12
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /file/useless/all:
    delete:
      tags: [File]
      summary: 清理所有未使用文件
      description: |
        清理所有上传后未使用的文件，需要管理员权限
      responses:
        '200':
          description: 删除文件成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  remove_count:
                    type: integer
                    description: 清理的文件数量
                    example: 12
        '403':
          description: 删除文件失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny - 权限不足<br/>
                    example: 'permission_deny'
        '401':
          $ref: '#/components/responses/401NotLoginError'

  /comments/{content_id}:
    get:
      tags: [Comments]
      summary: 获取评论/回复列表
      description: |
        分页获取评论列表，每条评论默认加载前5条回复，如果回复数多于5，则需要再次获取
      parameters:
        - name: content_id
          in: path
          required: true
          description: 被评论内容ID/评论ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
        - name: sort
          in: query
          required: false
          description: |
            结果排序, 默认为new<br/>
            new - 优先获取最新<br/>
            hot - 优先获取点赞最多的<br/>
          schema:
            type: string
            example: 'new'
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CommentData'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_task        - 任务不存在<br/>
                    example: 'invalid_size'
    post:
      tags: [Comments]
      summary: 添加评论/回复
      description: |
        添加评论
      parameters:
        - name: content_id
          in: path
          required: true
          description: 被评论的内容ID，可以为任务/评论
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              description: 添加评论
              properties:
                type:
                  type: string
                  description: |
                    评论类型<br/>
                    task    - 评论任务<br/>
                    comment - 回复评论<br/>
                  example: task
                content:
                  type: string
                  description: 评论内容
                  example: '你好骚啊'
      responses:
        '200':
          description: 评论成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 评论失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_content         - 被评论内容不存在<br/>
                      now_allow_status    - 该任务暂时还不能被评论<br/>
                      content_too_long  - 被评论内容超过了128个字符<br/>
                    example: 'faked_content'
        '401':
          $ref: '#/components/responses/401NotLoginError'

  /comments/{comment_id}:
    delete:
      tags: [Comments]
      summary: 删除评论/回复
      description: |
        删除评论/回复，只有评论人/管理员才可以删除
      parameters:
        - name: comment_id
          in: path
          required: true
          description: 评论ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 删除评论成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 删除评论失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny - 权限不足<br/>
                      faked_comment   - 评论不存在<br/>
                    example: 'permission_deny'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /comments/{comment_id}/like:
    post:
      tags: [Comments]
      summary: 为评论/回复点赞
      description: |
        为评论点赞
      parameters:
        - name: comment_id
          in: path
          required: true
          description: 评论ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 点赞成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 点赞失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      exist_like   - 评论已经点赞，不能重复点赞<br/>
                      faked_comment - 评论不存在<br/>
                      deleted_comment - 评论已删除<br/>
                    example: 'exist_like'
        '401':
          $ref: '#/components/responses/401NotLoginError'
    delete:
      tags: [Comments]
      summary: 取消点赞评论/回复
      description: |
        取消点赞任务
      parameters:
        - name: comment_id
          in: path
          required: true
          description: 评论ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 取消点赞成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 取消点赞失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_like   - 你根本没有点赞，取消什么<br/>
                      faked_comment - 评论不存在<br/>
                      deleted_comment - 评论已删除<br/>
                    example: 'faked_like'
        '401':
          $ref: '#/components/responses/401NotLoginError'

  /questionnaires/{task_id}:
    post:
      tags: [Questionnaires]
      summary: 新建问卷
      description: |
        新建问卷
      parameters:
        - name: task_id
          in: path
          required: true
          description: 问卷所属任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 问卷标题
                  example: 这是一个问卷
                description:
                  type: string
                  description: 问卷描述
                  example: 这是问卷描述
                anonymous:
                  type: boolean
                  description: 是否匿名收集
                  example: true
      responses:
        '200':
          description: 新建问卷成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
        '403':
          description: 获取问题信息失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_task     - 任务不存在<br/>
                      permission_deny   - 权限不足<br/>
                      not_allow_type      - 不允许为非问卷类型任务创建问卷<br/>
                      exist_questionnaire - 问卷已存在
                    example: 'faked_task'
    get:
      tags: [Questionnaires]
      summary: 获取问卷基本信息
      description: 获取问卷基本信息，属于公开信息
      parameters:
        - name: task_id
          in: path
          required: true
          description: 问卷所属任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 获取问题基本信息成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 问卷所属任务ID
                    example: '5c9ecbbba4a3f52e3195fa68'
                  title:
                    type: string
                    description: 问卷标题
                    example: '问你是谁'
                  owner:
                    $ref: '#/components/schemas/UserBaseInfo'
                  description:
                    type: string
                    description: 问卷描述
                    example: '描述'
                  anonymous:
                    type: boolean
                    description: 是否匿名
                    example: false
                  question_count:
                    type: integer
                    description: 问卷问题数量
                    example: 24
                  answer:
                    type: integer
                    description: 当前回答数量
                    example: 213
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取问题信息失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_task     - 任务不存在<br/>
                    example: 'faked_task'
        '401':
          $ref: '#/components/responses/401NotLoginError'
    put:
      tags: [Questionnaires]
      summary: 修改问卷基本信息
      description: |
        修改问卷基本信息，须检验权限，仅允许任务在[draft、wait]状态下修改
      parameters:
        - name: task_id
          in: path
          required: true
          description: 问卷所属任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 问卷标题
                  example: 这是一个问卷
                description:
                  type: string
                  description: 问卷描述
                  example: 这是问卷描述
                anonymous:
                  type: boolean
                  description: 是否匿名收集
                  example: true
      responses:
        '200':
          description: 修改问卷成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 修改问卷失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny       - 权限不足<br/>
                      not_allow_status      - 此状态不允许修改问卷<br/>
                    example: 'invalid_title'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /questionnaires/{task_id}/questions:
    get:
      tags: [Questionnaires]
      summary: 获取问卷问题
      description: 获取指定问卷问题
      parameters:
        - name: task_id
          in: path
          required: true
          description: 问卷所属任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 获取问题成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/QuestionData'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取问题失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny - 权限不足<br/>
                      faked_task      - 任务不存在<br/>
                    example: 'faked_task'
        '401':
          $ref: '#/components/responses/401NotLoginError'
    post:
      tags: [Questionnaires]
      summary: 修改问卷问题
      description: |
        为问卷添加问题，需要任务处于[draft]状态
      parameters:
        - name: task_id
          in: path
          required: true
          description: 问卷所属任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                problems:
                  type: array
                  description: 题目
                  items:
                    $ref: '#/components/schemas/QuestionData'
      responses:
        '200':
          description: 修改问题成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 修改问题失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      not_allow_status        - 此状态不允许修改问卷<br/>
                      not_allow_index         - 题号不符合顺序或存在重复<br/>
                      not_allow_max_choose    - 不允许的最大选项数(2-20)<br/>
                      not_allow               - 题目不符合规则
                      permission_deny         - 权限不足<br/>
                    example: 'not_allow_index'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /questionnaires/{task_id}/answers:
    get:
      tags: [Questionnaires]
      summary: 获取问卷答案数据
      description: 获取问卷答案，需要检验权限，若匿名则不返回用户数据
      parameters:
        - name: task_id
          in: path
          required: true
          description: 问卷所属任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: 获取数据成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: 问卷回答总数
                    example: 121
                  data:
                    type: array
                    description: 统计数据
                    items:
                      type: object
                      properties:
                        user:
                          $ref: '#/components/schemas/UserBaseInfo'
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/AnswerData'
                        time:
                          type: integer
                          description: 提交时间
                          example: 14123123
                        duration:
                          type: integer
                          description: 填写花费时间(s)
                          example: 32
                        ip:
                          type: string
                          description: 提交IP
                          example: '11.32.12.32'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取数据失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny - 权限不足<br/>
                      faked_task      - 任务不存在<br/>
                    example: 'faked_task'
        '401':
          $ref: '#/components/responses/401NotLoginError'
    post:
      tags: [Questionnaires]
      summary: 添加回答
      description: |
        回答问卷，需要任务处于[wait]状态
      parameters:
        - name: task_id
          in: path
          required: true
          description: 问卷所属任务ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                data:
                  type: array
                  description: 题目答案
                  items:
                    $ref: '#/components/schemas/AnswerData'
      responses:
        '200':
          description: 回答问题成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 回答问题失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny         - 权限不足<br/>
                      invalid_answer          - 无效的问题回答(不完整等)<br/>
                      not_allow_status        - 此状态不允许回答问卷<br/>
                      not_allow_index         - 题号不符合顺序或存在重复<br/>
                    example: 'not_allow_index'
        '401':
          $ref: '#/components/responses/401NotLoginError'

  /messages:
    get:
      tags: [Messages]
      summary: 获取当前用户消息列表
      description: |
        分页获取当前用户消息列表
      parameters:
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MessageSession'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取用户失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_users   - 用户不存在<br/>
                    example: 'faked_users'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /messages/system:
    post:
      tags: [Messages]
      summary: 发送系统消息
      description: |
        发送系统消息，仅管理员可使用
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 消息标题
                content:
                  type: string
                  description: 消息内容
                  example: '你好骚啊'
                about:
                  type: string
                  description: 相关ID, 结合前端使用
                  example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 发送消息成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: 发送的数目
                    example: 100
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
        '403':
          $ref: '#/components/responses/403PermissionDenyError'

  /messages/{id}:
    get:
      tags: [Messages]
      summary: 获取会话消息
      description: |
        分页获取指定会话消息内容
      parameters:
        - name: id
          in: path
          required: true
          description: |
            会话ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    $ref: '#/components/schemas/MessageSession'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取用户失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny - 权限不足<br/>
                      faked_message   - 会话不存在<br/>
                    example: 'invalid_id'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /messages/user/{user_id}:
    get:
      tags: [Messages]
      summary: 获取会话消息
      description: |
        根据用户ID分页获取指定会话消息内容
      parameters:
        - name: user_id
          in: path
          required: true
          description: |
            用户ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    $ref: '#/components/schemas/MessageSession'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取用户失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny - 权限不足<br/>
                      faked_message   - 会话不存在<br/>
                    example: 'invalid_id'
        '401':
          $ref: '#/components/responses/401NotLoginError'
    post:
      tags: [Messages]
      summary: 发送消息
      description: |
        发送消息
      parameters:
        - name: user_id
          in: path
          required: true
          description: 对方用户ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 消息标题， 一般为空
                content:
                  type: string
                  description: 消息内容
                  example: '你好骚啊'
                about:
                  type: string
                  description: 相关ID, 可用于分享任务
                  example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 发送消息成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 会话ID
                    example: '5c9ecbbba4a3f52e3195fa68'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 发送消息失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny - 权限不足<br/>
                      faked_user          - 用户不存在<br/>
                    example: 'permission_deny'
        '401':
          $ref: '#/components/responses/401NotLoginError'

  /utils/logs:
    get:
      tags: [Utils]
      deprecated: true
      summary: 查询日志
      description: |
        只有管理员或者当前用户才能查看指定用户日志
      parameters:
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
        - name: user
          in: query
          required: false
          description: |
            筛选相关用户ID<br/>
            默认查询当前账号的日志，只有管理员才可以查询其他用户的日志
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
        - name: type
          in: query
          required: false
          description: |
            筛选日志类型，多个使用逗号分隔<br/>
            user_money   - 金钱变动<br/>
            user_value   - 用户积分变动<br/>
            user_login   - 用户登陆<br/>
            user_credit  - 信用变动 [仅限管理员]<br/>
            system_clear - 系统清理 [仅限管理员]<br/>
            system_start - 系统启动 [仅限管理员]<br/>
            system_error - 系统运行时错误 [仅限管理员]<br/>
          schema:
            type: string
            example: 'user_money'
        - name: start_date
          in: query
          required: false
          description: |
            筛选时间，开始时间
          schema:
            type: integer
            example: 124141243
        - name: end_date
          in: query
          required: false
          description: |
            筛选时间，结束时间
          schema:
            type: integer
            example: 124141243
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: 日志数量
                    example: 123
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LogItem'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取用户失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      permission_deny    - 权限不足<br/>
                      not_allow_date     - 结束时间不能小于开始时间<br/>
                    example: 'faked_users'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /utils/tags:
    get:
      tags: [Utils]
      deprecated: true
      summary: 获取任务推荐标签
      description: |
        结合全部以及个人历史数据，加上分析任务标题和内容，生成推荐标签
      parameters:
        - name: title
          in: query
          required: true
          description: |
            任务标题
          schema:
            type: string
            example: 呵呵
        - name: content
          in: query
          required: true
          description: |
            任务内容
          schema:
            type: string
            example: 哈哈
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: 推荐标签
                    items:
                      type: string
                      example: '吃东西'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
  /utils/search:
    get:
      tags: [Utils]
      deprecated: true
      summary: 获取搜索提示
      description: |
        获取搜索补全提示
      parameters:
        - name: key
          in: query
          required: true
          description: |
            搜索内容
          schema:
            type: string
            example: 吃
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: 提示内容
                    items:
                      type: string
                      example: '吃东西'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'

  /article:
    get:
      tags: [Article]
      summary: 获取公告列表
      description: |
        获取公告列表
      parameters:
        - name: page
          in: query
          required: true
          description: |
            获取列表页面，从1开始计数
          schema:
            type: number
            example: 1
        - name: size
          in: query
          required: true
          description: |
            每页获取的内容数量
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArticleBaseInfo'
        '400':
          $ref: '#/components/responses/400InvalidValue'
    post:
      tags: [Article]
      summary: 新建公告文章
      description: |
        新建公告文章
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/EditArticleInfo'
      responses:
        '200':
          description: 新建公告成功
        '401':
          $ref: '#/components/responses/401NotLoginError'
        '403':
          $ref: '#/components/responses/403PermissionDenyError'
  /article/{id}:
    get:
      tags: [Article]
      summary: 公告详情
      description: 获取公告详情
      parameters:
        - name: id
          in: path
          required: true
          description: 公告ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      responses:
        '200':
          description: 获取公告详情成功
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ArticleInfo'
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '403':
          description: 获取公告信息失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      faked_article  - 公告不存在<br/>
                    example: 'faked_article'
    put:
      tags: [Article]
      summary: 修改公告信息
      description: |
        修改公告信息，须管理员权限
      parameters:
        - name: id
          in: path
          required: true
          description: 公告ID
          schema:
            type: string
            example: '5c9ecbbba4a3f52e3195fa68'
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/EditArticleInfo'
      responses:
        '200':
          description: 修改公告成功
        '400':
          $ref: '#/components/responses/400InvalidValue'
        '401':
          $ref: '#/components/responses/401NotLoginError'
        '403':
          $ref: '#/components/responses/403PermissionDenyError'

components:
  responses:
    400InvalidValue:
      description: 无效参数
      content:
        'application/json':
          schema:
            type: object
            properties:
              message:
                type: string
                description: |
                  invalid_[value] - 无效参数<br/>
    401NotLoginError:
      description: 未登录/登陆已过期
      content:
        'application/json':
          schema:
            type: object
            properties:
              message:
                type: string
                description: |
                  invalid_session - 身份验证无效 <br/>
                  timeout_session - 身份验证已过期 <br/>
                example: 'invalid_session'
    403PermissionDenyError:
      description: 权限不足
      content:
        'application/json':
          schema:
            type: object
            properties:
              message:
                type: string
                description: |
                  permission_deny - 权限不足<br/>
                example: 'permission_deny'
  schemas:
    Pagination:
      type: object
      properties:
        page:
          description: 当前资源页码
          type: integer
          example: 1
        size:
          description: 每页资源数量
          type: integer
          example: 3
        total:
          description: 资源总数
          type: integer
          example: 10
    SessionRequest:
      type: object
      required:
        - code
        - state
      properties:
        code:
          description: |
            授权码，对于用户和客户端具有唯一性和时效性
          type: string
        state:
          description: |
            状态码，用于防止CSRF攻击
          type: string

    CertificationData:
      type: object
      description: 认证数据
      properties:
        identity:
          type: string
          description: 认证身份类型，目前仅支持`student`学生
          example: 'student'
        data:
          type: string
          description: 认证内容
          example: '中山大学'
        status:
          type: string
          description: |
            认证状态<br/>
            wait - 材料等待审核<br/>
            wait_email - 邮箱待审核<br/>
          example: wait
        date:
          type: string
          description: 提交时间
          example: 12312412431
        material:
          type: array
          description: 认证材料文件信息
          items:
            $ref: '#/components/schemas/FileInfo'

    LogItem:
      type: object
      description: 日志数据结构
      properties:
        time:
          type: integer
          description: 日志时间
          example: 12344512
        type:
          type: string
          description: |
            日志类型<br/>
            user_money   - 金钱变动<br/>
            user_value   - 用户积分变动<br/>
            user_login   - 用户登陆<br/>
            user_credit  - 信用变动<br/>
            system_clear - 系统清理<br/>
            system_start - 系统启动<br/>
            system_error - 系统运行时错误<br/>
          example: 'user_money'
        user:
          type: string
          description: 相关用户ID
          example: '5c9ecbbba4a3f52e3195fa68'
        about:
          type: string
          description: 相关事件ID
          example: '5c9ecbbba4a3f52e3195fa68'
        value:
          type: integer
          description: 日志数值
          example: 2143
        msg:
          type: string
          description: 日志消息
          example: '你摊上大事了'

    MessageData:
      type: object
      description: 消息数据
      required:
        - time
        - content
      properties:
        time:
          type: integer
          description: 消息发送时间
          example: 12344512
        title:
          type: string
          description: 消息标题
          example: '系统通知'
        content:
          type: string
          description: 消息内容
          example: '你好强啊'
        about:
          type: string
          description: 相关ID
          example: '5c9ecbbba4a3f52e3195fa68'
    MessageSession:
      type: object
      description: 消息会话数据
      properties:
        id:
          type: string
          description: 会话ID
          example: '5c9ecbbba4a3f52e3195fa68'
        type:
          type: string
          description: |
            会话类型<br/>
            chat     - 聊天
            system   - 系统通知
            task     - 任务通知
            comment  - 评论通知
          example: 'chat'
        target_user:
          $ref: '#/components/schemas/UserBaseInfo'
        unread:
          type: integer
          description: 未读消息数量
          example: 123
        last_time:
          type: integer
          description: 最新消息时间
          example: 12344512
        last_message:
          $ref: '#/components/schemas/MessageData'
    QuestionData:
      type: object
      description: 问题数据结构
      required:
        - index
        - content
        - type
      properties:
        index:
          type: integer
          description: 题号，从1开始
          example: 1
        content:
          type: string
          description: 问题内容
          example: 你是猪吗？
        note:
          type: string
          description: 问题备注
          example: 请如实回答
        type:
          type: string
          description: |
            问题类型<br/>
            none  -  纯文字描述 <br/>
            choose - 选择题<br/>
            matrix - 矩阵题<br/>
            fill   - 填空题<br/>
            score  - 评分题<br/>
            sort   - 排序题<br/>
          example: choose
        choose_problem:
          type: object
          description: 选择题数据
          required:
            - options
            - max_choose
          properties:
            options:
              type: array
              description: 问题选项
              items:
                type: object
                required:
                  - index
                  - content
                properties:
                  index:
                    type: integer
                    description: 选项序号
                    example: 1
                  content:
                    type: string
                    description: 选项内容
                    example: 是
            max_choose:
              type: integer
              description: 最大可选项
              example: 1
        fill_problem:
          type: object
          description: 填空题数据
          required:
            - type
          properties:
            type:
              type: string
              description: |
                填空类型<br/>
                 phone  - 手机号码<br/>
                 number - 数字<br/>
                 date   - 日期<br/>
                 email  - 电子邮箱<br/>
                 id     - 身份证<br/>
                 web    - 网址<br/>
                 file   - 文件(用于资料征集)<br/>
                 all    - 不限类型<br/>
              example: 'phone'
            multi_line:
              type: boolean
              description: 是否允许多行，默认不允许
              example: false
            max_word:
              type: integer
              description: 最大字数限制，默认1000，最大2048
              example: 1000
        score_problem:
          type: object
          description: 评分题数据
[...]
